* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
  color: white;
}
body {
  background-image: url("assets/bg.png");
  background-size: cover;
  overflow-y: hidden;
  position: relative;
}
button {
  cursor: pointer;
}
.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #000000;
  padding: 15px 60px;
}
.logo {
  width: 70%;
}
.line {
  padding: 0 40px;
  border-right: 1px solid #ffffff;
  height: 50px;
}
.grow-list {
  margin-left: 30px;
}
.list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.list-item {
  list-style-type: none;
  font-size: 14px;
  margin: 0 30px;
  cursor: pointer;
}
.list-item:first-child {
  font-weight: 400;
  font-size: 14px;
}
.list-item:first-child::after {
  content: ">";
  margin-left: 10px;
  display: inline-block;
  transform: rotate(90deg);
}
.button-small {
  position: absolute;
  right: 5%;
  top: 3%;
  font-family: "Montserrat", sans-serif;
  background-color: #ba0ec5;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
}
.menu-icon {
  display: none;
  height: 30px;
  cursor: pointer;
}

/*--Hero Section--*/

.hero {
  padding: 10% 25%;
  text-align: center;
}
.hero-heading {
  font-family: "Poppins";
  position: absolute;
  top: 40%;
  left: 25%;
  font-size: 70px;
  width: 50%;
  line-height: 1.2;
  text-align: center;
}
.hero-description {
  font-family: "Montserrat";
  position: absolute;
  top: 65%;
  left: 25%;
  font-size: 25px;
  width: 50%;
}
.button-large {
  margin-top: 20rem;
  font-family: "Montserrat", sans-serif;
  background-color: #ba0ec5;
  color: #ffffff;
  padding: 15px 20px;
  border-radius: 5px;
  border: none;
  font-size: 20px;
}
@media screen and (max-width: 1200px) {
  .navbar {
    padding: 15px 30px;
  }
  .hero-heading {
    font-size: 55px;
  }
  .button-large {
    margin-top: 25rem;
  }
}
@media screen and (max-width: 768px) {
  .list {
    display: none;
  }
  .line {
    display: none;
  }
  .menu-icon {
    display: inline-block;
    margin-left: 57%;
  }
  .hero-heading {
    font-size: 40px;
  }
  .button-large {
    margin-top: 22rem;
  }
}
@media screen and (max-width: 480px) {
  .button-small {
    display: none;
  }
  .hero-heading {
    font-size: 30px;
  }
  .hero-description {
    font-size: 15px;
  }
  .button-large {
    margin-top: 25rem;
    padding: 5px;
    border-radius: 5px;
  }
}
